{% extends 'base.html.twig' %}

{% block title %}Ajout Utilitaire{% endblock %}

{% block body %}
    <h1>Ajout Véhicule Utilitaire</h1>

    <div class='col-sm-4 col-md-7'>
        <div class="form-group">
            <img id="visuimg" src={{ asset('img/') }}upload.png>
            <input class="form-control" type="file" name="photoupload" id="photo">
        </div>
    </div>

    {{ include('utilitaires/_form.html.twig') }}

    <a href="{{ path('utilitaires_index') }}">Retour à la Liste</a>
{% endblock %}
